<tr>
  <td align="left" style="font-size: 14px; line-height: 25px; font-family: 'Open Sans', Helvetica, Arial, sans-serif; color: #647083;">
    <p>¡Hola y bienvenido/a!</p>
    <p>Únete a la organización <%= @invitation.organization.name %> en Agroviz. Es tan sencillo como <a href="<%= @invitation_signup_link %>" target="_blank" style="color: #1785FB">crear tu cuenta</a>.</p>

    <p>Aquí tienes un mensaje personalizado por el/la administrador/a de la organización:</p>
  </td>
</tr>

<tr>
  <td align="left" style="font-size: 14px; line-height: 25px; font-family: 'Open Sans', Helvetica, Arial, sans-serif; color: #647083;">
    <p><i><%= simple_format(@invitation.welcome_text) %></i></p>
  </td>
</tr>

<tr>
  <td align="left" style="font-size: 14px; line-height: 25px; font-family: 'Open Sans', Helvetica, Arial, sans-serif; color: #647083;">
    <p>¡Hasta pronto!</p>
  </td>
</tr>
