<%- message = "<p style='margin-bottom: 0; font-size: 24px; color: #ffffff;'><strong>Has llegado al límite de la cuota</strong></p>" %>

<%= render partial: 'mailer_modules/negative_message', locals: { message: message } %>

<tr>
  <td align="left" style="font-size: 14px; line-height: 25px; font-family: 'Open Sans', Helvetica, Arial, sans-serif; color: #647083;">
    <p>Hola,</p>
    <p>Parece que tu equipo está creciendo deprisa y ya no queda espacio.</p>
    <p>Esto es un recordatorio de que tu organización <strong>ha agotado su cuota</strong>. Puedes ampliar tu cuenta y/o adquirir más espacio para continuar trabajando a la capacidad que necesitas.</p>
    <p>Ampliar tu cuenta es muy sencillo, simplemente <a href="<%= @link %>" style="color: #1181FB;">contacta con uno de nuestros expertos</a>.</p>
    <p>Gracias y hasta pronto.</p>
    </p>
  </td>
</tr>
