<%- message = "<p style='margin-bottom: 0; font-size: 24px; color: #ffffff;'><strong>No more seats left!</strong></p>" %>

<%= render partial: 'mailer_modules/negative_message', locals: { message: message } %>

<tr>
  <td align="left" style="font-size: 14px; line-height: 25px; font-family: 'Open Sans', Helvetica, Arial, sans-serif; color: #647083;">
    <p>Hola,</p>
    <p>Parece que tu equipo está creciendo deprisa y ya no queda espacio.</p>
    <p>Esto es un recordatorio de que tu organización <strong>ha alcanzado el límite de usuarios</strong>. Puedes adquirir más puestos para usuarios para continuar trabajando a la capacidad que necesitas.</p>
    <p>Obtener más puestos de usuario es muy sencillo, simplemente <a href="<%= @link %>" style="color: #1181FB;">contacta con uno de nuestros expertos</a>.</p>
    <p>Gracias y hasta pronto.</p>
    </p>
  </td>
</tr>

<%= render partial: 'mailer_modules/link_to_action', locals: { link: @link, link_text: "Obtener más puestos de usuario" } %>
