<h3 class="js-title CDB-Text CDB-Size-large u-mainTextColor u-secondaryTextColor u-bSpace--m">
  <% if (state === 'selected') { %>
    Archivo seleccionado
  <% } else { %>
    Sube <%- fileEnabled ? 'un archivo o' : '' %> una URL
  <% } %>
</h3>
<p class="js-description CDB-Text CDB-Size-medium u-altTextColor">
  <% if (state !== "selected") { %>
    Introduce una URL <% if (fileEnabled) { %>o selecciona un archivo CSV, XLS, ZIP, KML, GPX, <a href="https://carto.com/docs/carto-engine/import-api/importing-geospatial-data#supported-geospatial-data-formats" target="_blank">ver todos los formatos aceptados</a>.<% } %>
  <% } %>
  <% if (state === "selected") { %>
    <% if (acceptSync) { %>
      También puedes elegir cuándo sincronizar el archivo.
    <% } else { %>
      Las opciones de sincronización no están disponibles
    <% } %>
  <% } %>
</p>
<% if (state === "selected") { %>
  <button class="CDB-Size-large ImportPanel-headerButton js-back">
    <i class="CDB-IconFont CDB-IconFont-arrowPrev u-actionTextColor"></i>
  </button>
<% } %>
