<ul class="DropdownList DropdownList--list CDB-Text CDB-Size-medium">
  <li class="DropdownList-item DropdownList-item--verticalPadding"><a href="<%- createUrl %>">Crear usuario</a></li>
  <li class="DropdownList-item DropdownList-item--verticalPadding"><a href="<%- createUrl %>" class="js-inviteUser">Invitar usuario</a></li>
</ul>
