<div class="OnBoarding-map js-onboarding-map CDB-Text"></div>
<div class='OnBoarding-welcome'>
  <div class="OnBoarding-welcomeContent OnBoarding-welcomeContent--wide">
    <div class="CDB-Text OnBoarding-welcomeContentInner">
      <h4 class="OnBoarding-welcomeContentTitle OnBoarding-welcomeContentMargin">¡Hola, <%- username %>!</h4>
      <p class="OnBoarding-welcomeContentText OnBoarding-welcomeContentMargin">Bienvenido/a a Agroviz</p>
      <% if(hasCreateMapsFeature) { %>
        <p class="OnBoarding-welcomeContentText OnBoarding-welcomeContentMargin">Arrastra tus archivos al dashboard para conectar tus datasets y crear tu primer mapa.</p>
        <button class="CDB-Button CDB-Button--primary u-tSpace-xl js-createMap">
          <span class="CDB-Button-Text CDB-Text is-semibold CDB-Size-small u-upperCase">Nuevo mapa</span>
        </button>
      <% } %>
    </div>
    <div class="OnBoarding-importAnimation"></div>
  </div>
</div>
