<% if (seats > users) { %>
  <% if ((seats - users) < 5) { %>
    <p class="CDB-Text Form-footerText">
      <i class="CDB-IconFont CDB-IconFont-info Form-footerIcon"></i>
      Estás cerca de tu límite de asientos. Considera <a href="<%- upgradeUrl %>">cambiar tu cuenta</a>.
    </p>
  <% } else { %>
    <em></em>
  <% } %>
<% } else if (!customHosted) { %>
  <p class="CDB-Text Form-footerText">
    <i class="CDB-IconFont CDB-IconFont-info Form-footerIcon"></i>
    <a href="mailto:sales@tileo.co">Contacta con nosotros</a> si tienes dudas.
  </p>
  <a href="<%- upgradeUrl %>" class="CDB-Text Button Button--positive"><span>Cambiar cuenta</span></a>
<% } %>
