<ul class="CreateDialog-headerSteps">
  <% if (type === "dataset") { %>
    <li class="CreateDialog-headerStep is-selected">
      <div class="Dialog-headerIcon">
        <i class="CDB-IconFont CDB-IconFont-add"></i>
      </div>
      <h2 class="CDB-Text CDB-Size-large u-mainTextColor u-bSpace">Conectar datasets</h2>
      <h3 class="CDB-Text CDB-Size-medium u-altTextColor">Conecta datasets de servicios externos o sube tus propios archivos.</h3>
    </li>
  <% } else { %>
    <li class="CreateDialog-headerStep <%- option === "listing" || option === "loading" ? 'is-selected' : '' %>">
      <div class="Dialog-headerIcon">
        <i class="CDB-IconFont CDB-IconFont-add"></i>
      </div>
      <h2 class="CDB-Text CDB-Size-large u-mainTextColor u-bSpace">Añadir datasets</h2>
      <h3 class="CDB-Text CDB-Size-medium u-altTextColor">Selecciona tus datasets</h3>
    </li>
  <% } %>
</ul>
