<%- message = "<p>Se han geocodificado <strong>#{@geocoded_rows}</strong> de <strong>#{@processable_rows}</strong> puntos de <strong>#{@table_name}</strong>.</p>" %>

<% if @geocoding_failed || !@all_rows_geocoded %>
  <%= render partial: 'mailer_modules/warning_message', locals: { message: message } %>
<% else %>
  <%= render partial: 'mailer_modules/positive_message', locals: { message: message } %>
<% end %>

<% if @geocoding_failed || !@all_rows_geocoded %>
  <tr>
    <td align="left" style="font-size: 14px; line-height: 25px; font-family: 'Open Sans', Helvetica, Arial, sans-serif; color: #647083;">
      <p>Las filas que no se hayan geocodificado pueden contener errores en algunos valores de las columnas, o puede que no exista en nuestros datos. Para volver a intentarlo selecciona "Sobreescribir todos los valores" para aquellas files que quieres volver a geocodificar.</p>
    </td>
  </tr>
<% end %>

<%= render partial: 'mailer_modules/link_to_action', locals: { link: @link, link_text: 'Ir al dataset' } %>
