<%- message = "<p style='margin-bottom: 0;'>Tu compañero/a #{@table_visualization_owner_name} ha dejado de compartir el dataset <strong>#{@table_visualization_name}</strong> contigo, por lo que desaparecerá de tu dashboard y de los mapas donde se estaba utilizando.</p>" %>

<%= render partial: 'mailer_modules/warning_message', locals: { message: message } %>
