<div class="CDB-Text Dialog-header u-inner">
  <div class="Dialog-headerIcon Dialog-headerIcon--negative">
    <i class="CDB-IconFont CDB-IconFont-trash"></i>
    <% if (numOfIcons > 0) { %>
    <span class="Badge Badge--negative Dialog-headerIconBadge CDB-Text CDB-Size-small"><%- numOfIcons %></span>
    <% } %>
  </div>
  <h4 class="CDB-Text CDB-Size-large u-mainTextColor u-secondaryTextColor u-bSpace--m u-tSpace-xl">
    Est치s eliminando
    <% if (numOfIcons <= 0) { %>
      iconos
    <% } else if (numOfIcons === 1) { %>
      1 icono
    <% } else { %>
      <%- numOfIcons  %> iconos
    <% } %>
    de tu organizaci칩n.
  </h4>
  <p class="CDB-Text CDB-Size-medium u-altTextColor">
    Una vez que los iconos han sido borrados no se pueden recuperar. Los mapas de la organizaci칩n que utilicen
    <% if (numOfIcons === 1) { %>
      este icono
    <% } else { %>
      estos iconos
    <% } %>
    se ver치n afectados.
  </p>
</div>

<div class="Dialog-footer Dialog-footer--simple u-inner">
  <div class="Dialog-footerContent">
    <button class="CDB-Button CDB-Button--secondary cancel">
      <span class="CDB-Button-Text CDB-Text is-semibold CDB-Size-small u-upperCase">Cancelar</span>
    </button>
    <button class="u-lSpace--xl CDB-Button CDB-Button--error ok">
      <span class="CDB-Button-Text CDB-Text is-semibold CDB-Size-small u-upperCase">De acuerdo, borrar</span>
    </button>
  </div>
</div>
