<% content_for :title do %>Cuenta <%= @user.username %> activada<% end %>

<div class="Sessions CDB-Text">
  <div class="Sessions-content">
    <div class="Sessions-inner">
      <div class="u-inner">
        <div class="Sessions-center Sessions--centered">
          <div class="Sessions-logoContainer">
            <picture class="Navbar-brand">
              <%= image_tag("agroviz/logo/agroviz-white_logo_combination.svg", :alt => "Agroviz") %>
            </picture>
          </div>

          <div class="js-info">
            <h1 class="Sessions-title u-tspace-m">Tu cuenta se ha activado</h1>
            <p class="Sessions-description">Ve a <%= link_to "tu dashboard", @destination_url %> y empieza a usar tu nueva cuenta en Agroviz.</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
