<% content_for :title do %><%= @user.username %> validación de email<% end %>

<div class="Sessions CDB-Text">
  <div class="Sessions-content">
    <div class="Sessions-inner">
      <div class="u-inner">
        <div class="Sessions-center Sessions--centered">
          <div class="Sessions-logoContainer">
            <picture class="Navbar-brand">
              <%= image_tag("agroviz/logo/agroviz-white_logo_combination.svg", :alt => "Agroviz") %>
            </picture>
          </div>

          <div class="js-info">
            <h1 class="Sessions-title u-tspace-m">Nueva validación de email enviada</h1>
            <p class="Sessions-description">Acabamos de enviarte un nuevo email de validación de tu cuenta, por favor comprueba la bandeja de entrada de la cuenta de correo con la que te has registrado en Agroviz.</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
