<div class="CDB-Text Dialog-header MamufasDialog-header">
  <div class="Dialog-headerIcon Dialog-headerIcon--neutral">
    <i class="CDB-IconFont CDB-IconFont-step"></i>
  </div>
  <p class="Dialog-headerTitle">Arrastra y suelta tus datos en esta ventana</p>
  <p class="Dialog-headerText">Suelta tus archivos para conectar un nuevo dataset.</p>
</div>
<div class="Dialog-body Dialog-body--expanded MamufasDialog-body">
  <div class="MamufasDialog-dropZone">
    <i class="CDB-IconFont CDB-IconFont-addDocument MamufasDialog-dropZoneIcon"></i>
  </div>
</div>
<div class="CDB-Text Dialog-footer Dialog-footer--expanded MamufasDialog-footer">
  <p class="MamufasDialog-footerInfo">
    <i class="CDB-IconFont CDB-IconFont-info MamufasDialog-footerInfoIcon"></i>
    Archivos CSV, GPX, XLS y muchos más están soportados
  </p>
</div>
