/* Colors */

$light-navy-blue: #324e8d;
$medium-blue: #3866d0;
$medium-blue-darker: #1F4DB7;
$bright-blue: #006cff;

$dark: #232a31;
$black: #333333;
$cool-grey: #999fa4;
$silver: #c6ccd2;
$pale-grey: #f4f6f8;

$yellowish-orange: #faa315;
$neon-red: #fc043c;

$white: #ffffff;
