/* Colors */

$light-navy-blue: #324E8D;
$medium-blue: #3866D0;
$medium-blue-darker: #1F4DB7;
$bright-blue: #006CFF;

$dark: #232A31;
$black: #333;
$cool-grey: #999FA4;
$silver: #C6CCD2;
$pale-grey: #F4F6F8;

$yellowish-orange: #FAA315;
$neon-red: #FC043C;

$white: #FFF;
