<div class="UserQuotaDropdown">
  <h4 class="UserQuotaDropdown-title">Cambiar la cuota de <%- userName %></h4>
  <div class="UserQuotaDropdown-quota">
    <p class="UserQuotaDropdown-info"><span class="js-userQuota"><%- userQuotaPer %>%</span> de la cuota disponible</p>
    <div class="UISlider UserQuotaDropdown-slider js-slider"></div>
  </div>
</div>
