<div class="ApiKeysCTA-container">
  <div class="u-flex u-justifySpace">
    <div class="ApiKeysCTA-leftBox">
      <p class="CDB-Text CDB-Size-large">Descubre el potencial de tus aplicaciones</p>
      <p class="CDB-Text CDB-Size-medium u-altTextColor u-tSpace--m">Crea soluciones usando diferentes add-ons y APIs.</p>
    </div>

    <div class="ApiKeysCTA-rightBox">
      <div class="u-flex u-justifySpace u-alignCenter">
        <div>
          <p class="CDB-Text CDB-Size-large">Engine</p>
          <p class="CDB-Text CDB-Size-medium u-altTextColor u-tSpace--m">Gratis para aplicaciones internas y no comerciales</p>
        </div>

        <a href="<%= current_user.upgrade_url(request.protocol) %>" class="CDB-Text CDB-Size-small is-semibold CDB-Button CDB-Button--primary u-upperCase">Descúbrelo</a>
      </div>

      <ul class="ApiKeysCTA-list CDB-Text CDB-Size-medium">
        <li class="ApiKeysCTA-listItem">
          <i class="ApiKeysCTA-listIcon CDB-IconFont CDB-IconFont-check Size-small u-rSpace--s"></i>
          <span>En la nube o instalaciones privadas</span>
        </li>
        <li class="ApiKeysCTA-listItem">
          <i class="ApiKeysCTA-listIcon CDB-IconFont CDB-IconFont-check Size-small u-rSpace--s"></i>
          <span>Acceso a conectores Enterprise BI</span>
        </li>
        <li class="ApiKeysCTA-listItem">
          <i class="ApiKeysCTA-listIcon CDB-IconFont CDB-IconFont-check Size-small u-rSpace--s"></i>
          <span>Total acceso a la API</span>
        </li>
        <li class="ApiKeysCTA-listItem">
          <i class="ApiKeysCTA-listIcon CDB-IconFont CDB-IconFont-check Size-small u-rSpace--s"></i>
          <span>Paga solo por los asientos que utilices</span>
        </li>
      </ul>
    </div>
  </div>
</div>
