@import '../common/colors';

/* Header */
.TL-Header {
  width: 100%;
  height: 56px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgba(21,38,74,1);
  background: linear-gradient(135deg, rgba(21,38,74,1) 0%, rgba(50,77,141,1) 100%);
}
.TL-Header-inner {
  width: 940px;
  margin: 0 32px;
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  align-items: center;
}
.TL-Header-row1 {
}
.TL-Header-row2 {
  width: 100%;
  margin: 0 32px;
}
.TL-Header-row3 {
  position: relative;
  display: inline-block;
  padding: 2px 0;
}
.TL-HeaderLogo {
  width: 92px;
  height: 22px;
  background-image: url("../images/tileo/logo/tileo-white_logo_combination.svg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: 92px;
}
.TL-HeaderMenu {
  display: flex;
}
.TL-HeaderMenu-item {
  color: $white;
  font-family: 'Open Sans';
  font-weight: 400;
  font-size: 12px;
  line-height: 17px;
  text-transform: uppercase;

  &:not(:last-child) {
    margin-right: 16px;
  }
}
.TL-HeaderMenu-item.is-selected {
  font-weight: 700;
}
.TL-HeaderMenu-item a {
  color: $white;
  text-decoration: none;
}
.TL-HeaderAvatar {
  width: 32px;
  height: 32px;
  border: 1px solid $white;
  border-radius: 4px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: 32px;
  cursor: pointer;
}
