<% if (importState !== "twitter") { %>
  <div class="js-toggle Checkbox CDB-Text CDB-Size-medium u-altTextColor">
    <button class="Checkbox-input <%- isGuessingEnabled ? 'is-checked' : '' %>"></button>
    <label class="Checkbox-label CDB-Text CDB-Size-medium u-altTextColor">Deja que Agroviz asigne los tipos de datos y contenido al importar los archivos..</label>
  </div>
<% } else if (!customHosted) { %>
  <p class="CDB-Text CDB-Size-medium u-altTextColor">
    Para acceder el histórico de datos (periodo superior a 30 días) necesitarás <a href="mailto:support@agroviz.com">contactar con nuestro equipo</a>
  </p>
<% } %>
