<div class="CDB-Text Dialog-header Dialog-header--expanded">
  <div class="Dialog-headerIcon Dialog-headerIcon--neutral">
    <i class="CDB-IconFont CDB-IconFont-boss"></i>
  </div>
  <h3 class="Dialog-headerTitle">Invita usuarios a tu organización</h3>
  <p class="Dialog-headerText">Los nuevos usuarios formarán parte de tu cuenta de organización de Agroviz</p>
</div>
<div class="CDB-Text Dialog-expandedSubContent js-content">
  <div class="InviteUsers-form">
    <div class="js-form"></div>
  </div>
</div>
