<div class="FlashMessage js-signInMessage">
  <div class='u-inner'>
    <div class="FlashMessage-content js-flashNotice">
      <p class='FlashMessage-info FlashMessage-info--larger'>Si quieres invitar usuarios necesitas habilitar la página de inicio de sesión para tu organización.</p>
      <button class='FlashMessage--button js-enableSignInButton'><span>Habilitar inicio de sesión</span></button>
    </div>

    <div class="FlashMessage-content js-flashSuccess">
      <p class='FlashMessage-info FlashMessage-info--larger'>¡Has habilitado la página de inicio de sesión!</p>
    </div>
  </div>
</div>
