<div class='TL-Footer'>
  <div class='TL-Footer-inner'>
    <div class='TL-Footer-row1'>
      <div class='TL-Footer-logo'></div>
      <div class='TL-Footer-copyright'>© 2017 Tileo, Inc.</div>
    </div>

    <div class='TL-Footer-row2'>
      <ul class='TL-Footer-linksList'>
        <li class='TL-Footer-linksList-link'><a href="mailto:info@agroviz.com">Contacta con nosotros</a></li>
      </ul>
    </div>
  </div>

</div>
