<div class="Header CDB-Text" id="header">
  <div class="u-inner Header-inner">
    <div class="Header-navigation">
      <ul class="Header-navigationList">
        <li class="js-logo">
          <a href="<%= cartodb_com_hosted? ? CartoDB.url(self, 'root') : "https://carto.com" %>">
            <span class="Logo">
              <img src="<%= image_path "layout/carto-logo.svg" %>" alt="carto">
            </span>
          </a>
        </li>
      </ul>
    </div>

    <div class="Header-settings">
      <ul class="Header-settingsList js-user-settings">
        <li class="Header-settingsItem js-login">
          <a href="<%= CartoDB.url(self, 'login') %>" class="Header-settingsLink Header-settingsLink Header-settingsLink--public">Login</a>
        </li>

        <% unless cartodb_com_hosted? %>
          <li class="Header-settingsItem">
            <a href="https://carto.com/signup" class="PublicButton PublicButton--sMedium PublicButton--cWhite is-hover PublicButton--public">
              <span>Sign up</span>
            </a>
          </li>
        <% end %>
      </ul>
    </div>
  </div>
</div>
