@import '../common/colors';
@import '../common/buttons';

.TL-Onboarding-dragAndDropContainer {
  min-height: 512px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 32px 0;
  padding: 32px 0;
  border: 1px dashed $silver;
  border-radius: 4px;
}
.TL-Onboarding-dragAndDrop-icon {
  width: 128px;
  height: 128px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 32px;
  border-radius: 50%;
  background-color: rgba(245,65,81,1);
  background: linear-gradient(135deg, rgba(245,65,81,1) 0%, rgba(247,167,58,1) 100%);
}
.TL-Onboarding-dragAndDrop-iconContent {
  width: 52px;
  height: 52px;
  background-image: url("../images/tileo/add-file.svg");
  background-size: 52px;
  background-repeat: no-repeat;
  background-position: center;
}
.TL-Onboarding-dragAndDrop-title {
  color: $black;
  margin-bottom: 6px;
  font-family: 'Open Sans';
  font-weight: 600;
  font-size: 22px;
  line-height: 30px;
}
.TL-Onboarding-dragAndDrop-text {
  color: $cool-grey;
  font-family: 'Open Sans';
  font-weight: 400;
  font-size: 14px;
  line-height: 19px;
}
